.pixeden  {
    /*height: 63px;*/
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;

}
.pd-icon-comprometimento {
    background: url(../img/comprometimento.png) no-repeat;
    /*width: 68px;*/
}
.pd-icon-meta {
    background: url(../img/meta.png) no-repeat;
    /*width: 66px;*/
}
.pd-icon-tecnologia {
    background: url(../img/tecnologia.png) no-repeat;
    /*width: 66px;*/
}